<h1><%= title %></h1>
<style>
	p {word-break:break-all;
	}
</style>
<script>

$(function(){
	$('.api_request').bind('click',getApiRequest);

	//api_global
	//$('.globals').bind('click',getGlobals)
	
	//api_block
	//$('#getBlockHeader').bind('click',getBlockHeader);
	$('#getBlock').bind('click',getBlock);
	
	//api_auth
	//$('#toWif').bind('click',toWif);
	//$('#isWif').bind('click',isWif);
	//$('#wifIsValid').bind('click',wifIsValid);
	//$('#wifToPublic').bind('click',wifToPublic);
	//$('#generateKeys').bind('click',generateKeys);
	$('#getPrivateKeys').bind('click',getPrivateKeys);
	
	//api_accounts
	//$('#login').bind('click',login);
	$('#getAccounts').bind('click',getAccounts);
	//$('#lookupAccountNames').bind('click',lookupAccountNames);
	//$('#lookupAccounts').bind('click',lookupAccounts);
	//$('#getAccountCount').bind('click',getAccountCount);
	//$('#getAccountHistory').bind('click',getAccountHistory);
	//$('#getOwnerHistory').bind('click',getOwnerHistory);
	//$('#getRecoveryRequest').bind('click',getRecoveryRequest);

});

function initAjaxLog(){
	$('p').html("");
}

function getApiRequest(){
	var api = $(this).attr('id');
	var $form = $('#'+$(this).parent().parent().attr('id'));

	var url = "/api/"+api;
	var data = $form.serialize();
	
	$.ajax({
		method : 'post',
		type : 'post',
		url:url,
		dataType : 'json',
		data: data,
		success : function(data){
			console.log(data);
			initAjaxLog();
			$form.find('p').html(JSON.stringify(data));
		},
		error: function (xhr, ajaxOptions, thrownError) {
			console.log(xhr.responseText);
			alert(xhr.responseText);
		},
		complete: function (jqXHR,textStatus ) {
		
		}
	});
}

function getBlock() {
	var blockNum = $('#block_num').val();

	if(blockNum.indexOf('/') > -1) {
		var url = "/api/getBlocks";
		var array_blockNums = blockNum.split('/');
	
		var blockNums = [];
		for(var i=0;i<array_blockNums.length;i++){
			blockNums.push(array_blockNums[i]);
		}

		var data = {blockNums:JSON.stringify(blockNums)};
	}else {
		var url = "/api/getBlock";
		var data = {
			blockNum:blockNum
		};	
	}


	$.ajax({
		method : 'post',
		type : 'post',
		url:url,
		dataType : 'json',
		data: data,
		success : function(data){
			console.log(data);
			initAjaxLog();
			$('#form_get_block').find('p').html(JSON.stringify(data));
		},
		error: function (xhr, ajaxOptions, thrownError) {
			console.log(xhr.responseText);
			alert(xhr.responseText);
		},
		complete: function (jqXHR,textStatus ) {
		
		}
	});
}

function generateKeys() {
	var url = "/api/generateKeys";
	
	var role = $('#form_generate_keys').find("input[name*='role']"); //$( "input[name*='roles']" )
	 
	var array_role = role.val().split('/');
	
	var roles = [];
	for(var i=0;i<array_role.length;i++){
		roles.push(array_role[i]);
	}
	$('#form_generate_keys').find("input[name*='roles']").val(JSON.stringify(roles));	

	var data = $('#form_generate_keys').serialize();

	$.ajax({
		method : 'post',
		type : 'post',
		url:url,
		dataType : 'json',
		data: data,
		success : function(data){
			console.log(data);
			initAjaxLog();
			$('#form_generate_keys').find('p').html(JSON.stringify(data));
		},
		error: function (xhr, ajaxOptions, thrownError) {
			console.log(xhr.responseText);
			alert(xhr.responseText);
		},
		complete: function (jqXHR,textStatus ) {
		
		}
	});
}

function getPrivateKeys() {
	var url = "/api/getPrivateKeys";

	var role = $('#form_get_private_keys').find("input[name*='role']"); //$( "input[name*='roles']" )
	 
	var array_role = role.val().split('/');
	
	var roles = [];
	for(var i=0;i<array_role.length;i++){
		roles.push(array_role[i]);
	}
	$('#form_get_private_keys').find("input[name*='roles']").val(JSON.stringify(roles));	

	var data = $('#form_get_private_keys').serialize();

	$.ajax({
		method : 'post',
		type : 'post',
		url:url,
		dataType : 'json',
		data: data,
		success : function(data){
			console.log(data);
			initAjaxLog();
			$('#form_get_private_keys').find('p').html(JSON.stringify(data));
		},
		error: function (xhr, ajaxOptions, thrownError) {
			console.log(xhr.responseText);
			alert(xhr.responseText);
		},
		complete: function (jqXHR,textStatus ) {
		
		}
	});
}

function getAccounts(){
	var url = "/api/getAccounts";
	var array_username = $('#username').val().split('/');
	
	var usernames = [];
	for(var i=0;i<array_username.length;i++){
		usernames.push(array_username[i]);
	}
	
	$.ajax({
		method : 'post',
		type : 'post',
		url:url,
		dataType : 'json',
		data: {usernames:JSON.stringify(usernames)},
		success : function(data){
			console.log(data);
			initAjaxLog();
			$('#form_get_accounts').find('p').html(JSON.stringify(data));
		},
		error: function (xhr, ajaxOptions, thrownError) {
			console.log(xhr.responseText);
			alert(xhr.responseText);
		},
		complete: function (jqXHR,textStatus ) {
		
		}
	});
}


function lookupAccountNames(){
	var url = "/api/lookupAccountNames";
	var array_accountNames = $('#accountNames').val().split('/');
	
	var accountNames = [];
	for(var i=0;i<array_accountNames.length;i++){
		accountNames.push(array_accountNames[i]);
	}
	
	$.ajax({
		method : 'post',
		type : 'post',
		url:url,
		dataType : 'json',
		data: {accountNames:JSON.stringify(accountNames)},
		success : function(data){
			console.log(data);
			initAjaxLog();
			$('#form_lookup_account_names').find('p').html(JSON.stringify(data));
		},
		error: function (xhr, ajaxOptions, thrownError) {
			console.log(xhr.responseText);
			alert(xhr.responseText);
		},
		complete: function (jqXHR,textStatus ) {
		
		}
	});
}

</script>


<div id="left">
	<ul>
		<li>/api/getConfig post</li>
		<li>/api/getDynamicGlobal post</li>
		<li>/api/getHardforkVersion post</li>
		<li>/api/getNextScheduledHardfork post</li>
		<li style="list-style:none;"></li>

		<li>/api/getBlockHeader post blockNum=(number)</li>
		<li>/api/getBlock post blockNum=(number)</li>
		<li>/api/getBlocks post blockNums=(json_array_string)</li>
		<li>/api/getOpsInBlock post blockNum=int&only_virtual=(bool)</li>
		<li>/api/getOperationList post start=(number : start)&limit=(number : page size)</li>
		<li>/api/getBalanceRank post start=(number : start)&limit=(number : page size)</li>
		<li style="list-style:none;"></li>

		<li>/api/toWif post username=(string)&password=(string)&role=(string:'owner','active','memo')</li>
		
		<li>/api/isWif post wif=(string)</li>
		<li>/api/wifIsValid post private_key=(string)&public_key=(string)</li>
		<li>/api/wifToPublic post private_key=(string)</li>
		<li>/api/getPrivateKeys post username=(string)&password=(string)&roles=(json_array_string)</li>
		<li style="list-style:none;"></li>
		
		<li>/api/login post username=(string)&password=(string)</li>
		<li>/api/getAccounts post usernames=(json_array_string)</li>
		<li>/api/lookupAccounts post lowerBoundName=(string)&limit=(number)</li>
		<li>/api/getAccountCount post</li>
		<li>/api/getAccountHistory post account=(string)&from=(number : must be greater than limit)&limit=(number)</li>
		<li>/api/getAccountTransferHistory post account=(string)&from=(unsigned number, 0 is start )&limit=(number)</li>
		<li>/api/getAccountTransferHistoryCount post account=(string)</li>
		<li>/api/getAccountTokenTransferHistory post account=(string)&from=(unsigned number, 0 is start )&limit=(number)</li>
		<li>/api/getAccountTokenTransferHistoryCount post account=(string)</li>
		<li style="list-style:none;"></li>

		<li>/api/lookupBpAccounts post</li>
		<li>/api/lookupBoAccounts post lowerboundname=(string)&limit=(number)</li>
		<li>/api/getBobyAccount post owner_account=(string)</li>
		<li>/api/getAuthToken post account=(string)&auth_type=(string)</li>
		<li>/api/getAuthTokenList post from=(number : start)&limit=(number : page size)</li>
	</ul>
</div>

<div id="main">
	
	<!-- api_global -->
	<div>
		<form id="form_get_config" onsubmit="return false;">
			<fieldset>
				<legend>getConfig /getDynamicGlobal </legend>
				<input type="button" id="getConfig" value="getConfig" class="btn-info btn-md api_request"/> &nbsp;&nbsp;&nbsp;
				<input type="button" id="getDynamicGlobal" value="getDynamicGlobal" class="btn-info btn-md api_request"/> &nbsp;&nbsp;&nbsp;
				<input type="button" id="getHardforkVersion" value="getHardforkVersion" class="btn-info btn-md api_request"/> &nbsp;&nbsp;&nbsp;
				<input type="button" id="getNextScheduledHardfork" value="getNextScheduledHardfork" class="btn-info btn-md api_request"/> &nbsp;&nbsp;&nbsp;
				<input type="button" id="getDappTransactionFee" value="getDappTransactionFee" class="btn-info btn-md api_request"/> &nbsp;&nbsp;&nbsp;
			</fieldset>
			<p></p>
		</form>
		
	</div>
	
	<!-- api_block -->
	<div>
		<form id="form_get_block_header" onsubmit="return false;">
			<fieldset>
				<legend>getBlockHeader</legend>
				<input type="text" name="blockNum" placeholder="blockNum" style=""/>
				<input type="button" id="getBlockHeader" value="getBlockHeader" class="btn-info btn-md api_request"/>
			</fieldset>
			<p></p>
		</form>
	</div>

	<div>
		<form id="form_get_block" onsubmit="return false;">
			<fieldset>
				<legend>getBlock</legend>
				<input type="text" id="block_num" name="block_num" placeholder="block_num" style=""/>
				<input type="button" id="getBlock" value="getBlock" class="btn-info btn-md"/>
			</fieldset>
			<p></p>
		</form>
	</div>

	<div>
		<form id="form_get_ops_in_block" onsubmit="return false;">
			<fieldset>
				<legend>getOpsInBlock</legend>
				<input type="text" id="block_num" name="block_num" placeholder="block_num" />
				<input type="text" id="only_virtual" name="only_virtual" placeholder="only_virtual" />
				<input type="button" id="getOpsInBlock" value="getOpsInBlock" class="btn-info btn-md api_request"/>
			</fieldset>
			<p></p>
		</form>
	</div>

	<div>
		<form id="form_get_operation_list" onsubmit="return false;">
			<fieldset>
				<legend>getOperationList</legend>
				<input type="text" id="start" name="start" placeholder="start" style=""/>
				<input type="text" id="limit" name="limit" placeholder="limit" style=""/>
				<input type="button" id="getOperationList" value="getOperationList" class="btn-info btn-md api_request"/>
			</fieldset>
			<p></p>
		</form>
	</div>

	<div>
		<form id="form_get_transaction_day_count" onsubmit="return false;">
			<fieldset>
				<legend>getTransactionDayCount</legend>
				<input type="text" id="day" name="day" placeholder="day" />
				<input type="button" id="getTransactionDayCount" value="getTransactionDayCount" class="btn-info btn-md api_request"/>
			</fieldset>
			<p></p>
		</form>
	</div>

	<div>
		<form id="form_get_balance_rank" onsubmit="return false;">
			<fieldset>
				<legend>getBalanceRank</legend>
				<input type="text" id="start" name="start" placeholder="start" style=""/>
				<input type="text" id="limit" name="limit" placeholder="limit" style=""/>
				<input type="button" id="getBalanceRank" value="getBalanceRank" class="btn-info btn-md api_request"/>
			</fieldset>
			<p></p>
		</form>
	</div>

	<!-- api_auth -->
	<div>
		<form id="form_to_wif" onsubmit="return false;">
			<fieldset>
				<legend>toWif</legend>
				<input type="text" name="username" placeholder="userid"/>
				<input type="text" name="password" style="" placeholder="password"/>
				<input type="text" name="role" value="" style="" placeholder="role" />
				<input type="button" id="toWif" value="toWif" class="btn-info btn-md api_request"/>
			</fieldset>
			<p></p>
		</form>
		<p id="wif_result"></p>
	</div>
	<div>
		<form id="form_is_wif" onsubmit="return false;">
			<fieldset>
				<legend>isWif</legend>
				<input type="text" name="wif" value="" style="" placeholder="wif" />
				<input type="button" id="isWif" value="isWif" class="btn-info btn-md api_request"/>
			</fieldset>
			<p></p>
		</form>
	</div>
	<div>
		<form id="form_wif_is_valid" onsubmit="return false;">
			<fieldset>
				<legend>wifIsValid</legend>
				<input type="text" name="private_key" value="" style="" placeholder="private_key" />
				<input type="text" name="public_key" value="" style="" placeholder="public_key" />
				<input type="button" id="wifIsValid" value="wifIsValid" class="btn-info btn-md api_request"/>
			</fieldset>
			<p></p>
		</form>
	</div>

	<div>
		<form id="form_wif_to_public" onsubmit="return false;">
			<fieldset>
				<legend>wifToPublic</legend>
				<input type="text" name="private_key" value="" style="" placeholder="private_key" />
				<input type="button" id="wifToPublic" value="wifToPublic" class="btn-info btn-md api_request"/>
			</fieldset>
			<p></p>
		</form>
		<p id="wif_trans_result"></p>
	</div>

	<div>
		<form id="form_get_private_keys" onsubmit="return false;">
			<fieldset>
				<legend>getPrivateKeys</legend>
				<input type="text" name="username" value="" style="" placeholder="username" />
				<input type="text" name="password" value="" style="" placeholder="password" />
				<input type="text" name="role" value="owner/active/posting/memo" style="" placeholder="role ex)owner/active/posting/memo" />
				<input type="hidden" name="roles"/>
				<input type="button" id="getPrivateKeys" value="getPrivateKeys" class="btn-info btn-md"/>
			</fieldset>
			<p></p>
		</form>
	</div>

	<!-- api_accounts -->	
	<div>
		<form id="form_login" onsubmit="return false;">
			<fieldset>
				<legend>Login</legend>
				<input type="text" name="username" value="" style="" placeholder="username" />
				<input type="text" name="password" value="" style="" placeholder="password" />
				<input type="button" id="login" value="Login" class="btn-info btn-md api_request"/>
			</fieldset>
			<p></p>
		</form>
	</div>

	<div>
		<form id="form_get_accounts" onsubmit="return false;">
			<fieldset>
				<legend>getAccounts</legend>
				<input type="text" id="username" name="username" value="" style="" placeholder="username" />
				<input type="button" id="getAccounts" value="getAccounts" class="btn-info btn-md"/>
			</fieldset>
			<p></p>
		</form>
	</div>
	
	<div>
		<form id="form_lookup_accounts" onsubmit="return false;">
			<fieldset>
				<legend>lookupAccounts</legend>
				<input type="text" name="lowerBoundName" value="" style="" placeholder="lowerBoundName" />
				<input type="text" name="limit" value="" style="" placeholder="limit" />
				<input type="button" id="lookupAccounts" value="lookupAccounts" class="btn-info btn-md api_request"/>
			</fieldset>
			<p></p>
		</form>
	</div>

	<div>
		<form id="form_get_account_count" onsubmit="return false;">
			<fieldset>
				<legend>getAccountCount</legend>
				<input type="button" id="getAccountCount" value="getAccountCount" class="btn-info btn-md api_request"/>
			</fieldset>
			<p></p>
		</form>
	</div>
	
	<div>

		<form id="form_get_account_history" onsubmit="return false;">
			<fieldset>
				<legend>getAccountHistory</legend>
				<input type="text" name="account" value="" style="" placeholder="account" />
				<input type="text" name="from" value="" style="" placeholder="from" />
				<input type="text" name="limit" value="" style="" placeholder="limit" />
				<input type="button" id="getAccountHistory" value="getAccountHistory" class="btn-info btn-md api_request"/>
			</fieldset>
			<p></p>
		</form>
	</div>

	<div>

		<form id="form_get_account_transfer_history" onsubmit="return false;">
			<fieldset>
				<legend>getAccountTransferHistory</legend>
				<input type="text" name="account" value="" style="" placeholder="account" />
				<input type="text" name="from" value="" style="" placeholder="from" />
				<input type="text" name="limit" value="" style="" placeholder="limit" />
				<input type="button" id="getAccountTransferHistory" value="getAccountTransferHistory" class="btn-info btn-md api_request"/>
			</fieldset>
			<p></p>
		</form>
	</div>

	<div>

		<form id="form_get_account_transfer_history_count" onsubmit="return false;">
			<fieldset>
				<legend>getAccountTransferHistoryCount</legend>
				<input type="text" name="account" value="" style="" placeholder="account" />
				<input type="button" id="getAccountTransferHistoryCount" value="getAccountTransferHistoryCount" class="btn-info btn-md api_request"/>
			</fieldset>
			<p></p>
		</form>
	</div>

	<div>

		<form id="form_get_account_token_transfer_history" onsubmit="return false;">
			<fieldset>
				<legend>getAccountTokenTransferHistory</legend>
				<input type="text" name="account" value="" style="" placeholder="account" />
				<input type="text" name="from" value="" style="" placeholder="from" />
				<input type="text" name="limit" value="" style="" placeholder="limit" />
				<input type="button" id="getAccountTokenTransferHistory" value="getAccountTokenTransferHistory" class="btn-info btn-md api_request"/>
			</fieldset>
			<p></p>
		</form>
	</div>

	<div>

		<form id="form_get_account_token_transfer_history_count" onsubmit="return false;">
			<fieldset>
				<legend>getAccountTokenTransferHistoryCount</legend>
				<input type="text" name="account" value="" style="" placeholder="account" />
				<input type="button" id="getAccountTokenTransferHistoryCount" value="getAccountTokenTransferHistoryCount" class="btn-info btn-md api_request"/>
			</fieldset>
			<p></p>
		</form>
	</div>

	<div>

		<form id="form_get_account_token_symbol_transfer_history" onsubmit="return false;">
			<fieldset>
				<legend>getAccountTokenSymbolTransferHistory</legend>
				<input type="text" name="account" value=""  placeholder="account" />
				<input type="text" name="symbol" value="" placeholder="symbol" />
				<input type="text" name="from" value="" placeholder="from" />
				<input type="text" name="limit" value=""  placeholder="limit" />
				<input type="button" id="getAccountTokenSymbolTransferHistory" value="getAccountTokenSymbolTransferHistory" class="btn-info btn-md api_request"/>
			</fieldset>
			<p></p>
		</form>
	</div>

	<div>
		<form id="form_lookup_bproducer_accounts" onsubmit="return false;">
			<fieldset>
				<legend>lookupBpAccounts</legend>
				<input type="button" id="lookupBpAccounts" value="lookupBpAccounts" class="btn-info btn-md api_request"/>
			</fieldset>
		<p></p>
		</form>
	</div>

	<div>
		<form id="form_lookup_bobserver_accounts" onsubmit="return false;">
			<fieldset>
				<legend>lookupBoAccounts</legend>
				<input type="text" name="lowerboundname" value="" style="" placeholder="lowerboundname" />
				<input type="text" name="limit" value="" style="" placeholder="limit" />
				<input type="button" id="lookupBoAccounts" value="lookupBoAccounts" class="btn-info btn-md api_request"/>
			</fieldset>
		<p></p>
		</form>
	</div>

	<div>
		<form id="form_get_bobserver_by_account" onsubmit="return false;">
			<fieldset>
				<legend>getBobyAccount</legend>
				<input type="text" name="owner_account" value="" style="" placeholder="owner_account" />
				<input type="button" id="getBobyAccount" value="getBobyAccount" class="btn-info btn-md api_request"/>
			</fieldset>
		<p></p>
		</form>
	</div>

	<div>
		<form id="form_get_auth_token" onsubmit="return false;">
			<fieldset>
				<legend>get_auth_token</legend>
				<input type="text" name="account" placeholder="account"/>
				<input type="text" name="auth_type" placeholder="auth_type"/>
				<input type="button" id="getAuthToken" value="getAuthToken" class="btn-info btn-md api_request"/>
			</fieldset>
		<p></p>
		</form>
	</div>

	<div>
		<form id="form_get_auth_token_list" onsubmit="return false;">
			<fieldset>
				<legend>get_auth_token_list</legend>
				<input type="text" name="from" placeholder="from"/>
				<input type="text" name="limit" placeholder="limit"/>
				<input type="button" id="getAuthTokenList" value="getAuthTokenList" class="btn-info btn-md api_request"/>
			</fieldset>
		<p></p>
		</form>
	</div>

	<div>
		<form id="form_get_balance_rank" onsubmit="return false;">
			<fieldset>
				<legend>get_auth_token_list</legend>
				<input type="text" name="from" placeholder="from"/>
				<input type="text" name="limit" placeholder="limit"/>
				<input type="button" id="getBalanceRank" value="getBalanceRank" class="btn-info btn-md api_request"/>
			</fieldset>
		<p></p>
		</form>
	</div>

	<div>
		<form id="form_get_transaction_count" onsubmit="return false;">
			<fieldset>
				<legend>get_transaction_count</legend>
				<input type="text" name="block" placeholder="0"/>
				<input type="button" id="getTransactionCount" value="getTransactionCount" class="btn-info btn-md api_request"/>
			</fieldset>
		<p></p>
		</form>
	</div>

	<div>
		<form id="form_get_transaction" onsubmit="return false;">
			<fieldset>
				<legend>get_transaction</legend>
				<input type="text" name="transaction_id" placeholder=""/>
				<input type="button" id="getTransaction" value="getTransaction" class="btn-info btn-md api_request"/>
			</fieldset>
		<p></p>
		</form>
	</div>

	<div>
		<form id="form_get_block_range" onsubmit="return false;">
			<fieldset>
				<legend>get_block_range</legend>
				<input type="text" name="block_num" placeholder=""/>
				<input type="text" name="num" placeholder=""/>
				<input type="button" id="getBlockRange" value="getBlockRange" class="btn-info btn-md api_request"/>
			</fieldset>
		<p></p>
		</form>
	</div>

	<div>
		<form id="form_get_bobserver" onsubmit="return false;">
			<fieldset>
				<legend>get_bobserver</legend>
				<input type="text" name="account_name" value="" style="" placeholder="account_name" />
				<input type="button" id="get_bobserver" value="get_bobserver" class="btn-info btn-md api_request"/>
			</fieldset>
			<p></p>
		</form>
		
	</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>


