<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= title %></title>

	<link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/plugins/bootstrap/css/bootstrap-theme.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/css/default.css">

	<style>
			
	</style>

	<script type="text/javascript" src="/plugins/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/plugins/jquery-ui-1.11.4.min.js"></script>

	<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/plugins/json2.js"></script>
	
	<script type="text/javascript" src="/js/default.js"></script>
	
	<script>

	

	$(function(){
		
		
				
	});
		

		
	
	</script>

</head>
<body>
    <header>
			<%- include ../common/header.ejs %>
    </header>
    <div id="wrapper">
        <%- body %>
    </div>
    <footer>
			<%- include ../common/footer.ejs %>	
    </footer>
</body>
</html>